In [24]:
import os
import pandas as pd
import numpy as np
import datetime
state_dict = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ',
    'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO', 
    'Connecticut': 'CT', 'District of Columbia':"DC", 'Delaware': 'DE', 'Florida': 'FL', 
    'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL',
    'Indiana': 'IN', 'Iowa': 'IA','Kansas': 'KS', 'Kentucky': 'KY',
    'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA',
    'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO',
    'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH',
    'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC',
    'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
    'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI',
    'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX',
    'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA',
    'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY', "United States": "US", "United States Total": "US"}

In [44]:
def is_substring_in_array(substring, array):
    # Use np.char.find to find the substring in each element of the array
    found = np.char.find(array, substring)
    # Check if any position is not -1
    return np.any(found != -1)

In [50]:

dfs_dct = {}
ab_keys = {"a": "United States", "b": "Missouri"}
start_year = 2002
end_year = 2022
for year in range(start_year,2022):
    dfs_dct[year] = {}        
    stryear = str(year)
    filetype = ".xls" if year > 2004 and year < 2012 or year == 2002 else ".xlsx"

    for ab in ["a", "b"]:
        filename = f"StateGovFinances{stryear}{ab}{filetype}"
        try:
            df = pd.read_excel(filename)#dropna(axis = 0, how = "any")
        except:
            break
        index = [key for key in df if "Table" in key]
        df = df.set_index(index)#.iloc[1:]
        print(year)
        # try:
        
        for row in range(df.shape[0]):
            in_array = is_substring_in_array(ab_keys[ab], str(df.iloc[row]))
            if in_array:
                break #if is_string_array(df.iloc[row].values) else True:
            else:
                continue
        print(year, row)
        # except:
        #     while ab_keys[ab] not in df.iloc[row].values:
        #         row +=1            
        df.iloc[row] = df.iloc[row].fillna(method='ffill')
        df.iloc[row + 1] = df.iloc[row + 1].str.strip() + " " + df.iloc[row +2].str.replace("1", "").str.strip()+ " " + df.iloc[row +3].str.replace("1", "").str.strip()
        index = list(df.index)
        index[row+1] = "Variable"
        # df.set_index(index, inplace = True)
        # df.set_index(list(df.keys())[row, row + 1]) 
        # df.columns = df.iloc[[row, row + 1]].T

        # df = df.iloc[row + 6:].dropna(how = "all")
        df = df.iloc[row:].dropna(how = "all")

        df.index = [str(ix).strip().replace("1", "").upper() for ix in df.index]
        df_index_count = df.index.to_series().groupby(df.index).cumcount().add(1).astype(str)
        df.index = df_index_count + df_index_count.index
        tdf = df.T
        cols = list(tdf.iloc[1:].columns)
        cols[0] = "State"
        cols[1] = "Format"
        tdf.columns = cols
        tdf = tdf.iloc[1:]
        df = tdf    
        df["State"] = df["State"].apply(lambda x: state_dict[x.strip()])     
        df["Year"] = datetime.datetime(year,1,1)
        df.set_index(["State", "Year", "Format"], inplace = True)
        keys = list(df.keys())[4:]
        
        dfs_dct[year][ab] = df[keys]#reset_index().set_index(["Year", "index"])#.T
for year, ab_dct in dfs_dct.items():
    if "b" in ab_dct.keys():
        # dfs_dct[year] = pd.merge(ab_dct["a"], ab_dct["b"], how = "outer", left_index = True, right_index = True)
        dfs_dct[year] = pd.concat([ab_dct["a"], ab_dct["b"]])        
    else:
        dfs_dct[year] = ab_dct["a"]
    dfs_dct[year] = dfs_dct[year]
    # dfs_dct[year].set_index("index", inplace = True)
    # dfs_dct[year].index.name = "Description"

2002
2002 1
2002
2002 1
2003
2003 1
2003
2003 1
2004
2004 1
2004
2004 1
2005
2005 4
2005
2005 4
2006
2006 8

/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')

2006
2006 8
2007
2007 6
2007
2007 6
2008
2008 8
2008
2008 8
2009
2009 7
2009
2009 7
2010
2010 7
2010
2010 7

/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')

2011
2011 7
2011
2011 7
2012
2012 6
2012
2012 6

/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')

2013
2013 8
2013
2013 8
2014
2014 8

/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')

2014
2014 8
2015
2015 8

/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')

2015
2015 8
2016
2016 8
2016
2016 8

/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')

2017
2017 7
2018
2018 9

/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')

2019
2019 9

/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')

2020
2020 9
2021
2021 9

/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')
/tmp/ipykernel_9658/2536728971.py:31: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.iloc[row] = df.iloc[row].fillna(method='ffill')

In [51]:
stack_dfs = pd.concat([dfs_dct[year] for year in range(start_year, end_year)])#.reset_index().set_index(["index", "Year"])
stack_dfs

                                                    1REVENUE 1GENERAL REVENUE  \
State Year       Format
US    2002-01-01 State government amount          1097045283       1062627836
                 Local government amount          1083074484        995779419
AL    2002-01-01 State & local government amount    24112550         23113713
                 State government amount            14942192         15986065
                 Local government amount            13901133         11858423
...                                                      ...              ...
WY    2021-01-01 State & local government amount    11886452          9844705
                 State & local government CV            0.18             0.19
                 State government amount             8179668          6375373
                 Local government amount             5556067          5318614
                 Local government CV                    0.44             0.41

                                                 1INTERGOVERNMENTAL REVENUE  \
State Year       Format
US    2002-01-01 State government amount                          335433606
                 Local government amount                          398640787
AL    2002-01-01 State & local government amount                    6263380
                 State government amount                            6275399
                 Local government amount                            4718756
...                                                                     ...
WY    2021-01-01 State & local government amount                    3433945
                 State & local government CV                           0.36
                 State government amount                            3103070
                 Local government amount                            2180157
                 Local government CV                                   0.78

                                                 1FROM FEDERAL GOVERNMENT  \
State Year       Format
US    2002-01-01 State government amount                        317582530
                 Local government amount                         42963688
AL    2002-01-01 State & local government amount                  6263380
                 State government amount                          5794984
                 Local government amount                           468396
...                                                                   ...
WY    2021-01-01 State & local government amount                  3433945
                 State & local government CV                         0.36
                 State government amount                          3089280
                 Local government amount                           344665
                 Local government CV                                 3.55

                                                 1FROM STATE GOVERNMENT  \
State Year       Format
US    2002-01-01 State government amount                              X
                 Local government amount                      355677099
AL    2002-01-01 State & local government amount                      X
                 State government amount                              X
                 Local government amount                        4250360
...                                                                 ...
WY    2021-01-01 State & local government amount                      0
                 State & local government CV                          0
                 State government amount                              0
                 Local government amount                        1835493
                 Local government CV                               0.64

                                                 1FROM LOCAL GOVERNMENT  \
State Year       Format
US    2002-01-01 State government amount                       17851076
                 Local government amount                              X
AL    2002-01-01 State & local government amount                      X
                 State government amount                         480415
                 Local government amount                              X
...                                                                 ...
WY    2021-01-01 State & local government amount                    NaN
                 State & local government CV                        NaN
                 State government amount                            NaN
                 Local government amount                            NaN
                 Local government CV                                NaN

                                                 1GENERAL REVENUE FROM OWN SOURCES  \
State Year       Format
US    2002-01-01 State government amount                                 727194230
                 Local government amount                                 597138632
AL    2002-01-01 State & local government amount                          16850333
                 State government amount                                   9710666
                 Local government amount                                   7139667
...                                                                            ...
WY    2021-01-01 State & local government amount                           6410760
                 State & local government CV                                  0.22
                 State government amount                                   3272303
                 Local government amount                                   3138457
                 Local government CV                                          0.45

                                                     1TAXES  1PROPERTY  \
State Year       Format
US    2002-01-01 State government amount          535191161    9702385
                 Local government amount          369909641  269489093
AL    2002-01-01 State & local government amount    9718827    1473554
                 State government amount            6509765     195132
                 Local government amount            3209062    1278422
...                                                     ...        ...
WY    2021-01-01 State & local government amount    3015682    1251792
                 State & local government CV           0.37       0.87
                 State government amount            1874876     295925
                 Local government amount            1140806     955867
                 Local government CV                   0.98       1.14

                                                 1SALES AND GROSS RECEIPTS  \
State Year       Format
US    2002-01-01 State government amount                         262360613
                 Local government amount                          61761893
AL    2002-01-01 State & local government amount                   4799669
                 State government amount                           3383068
                 Local government amount                           1416601
...                                                                    ...
WY    2021-01-01 State & local government amount                   1049028
                 State & local government CV                          0.21
                 State government amount                            927089
                 Local government amount                            121939
                 Local government CV                                  1.83

                                                  ...  \
State Year       Format                           ...
US    2002-01-01 State government amount          ...
                 Local government amount          ...
AL    2002-01-01 State & local government amount  ...
                 State government amount          ...
                 Local government amount          ...
...                                               ...
WY    2021-01-01 State & local government amount  ...
                 State & local government CV      ...
                 State government amount          ...
                 Local government amount          ...
                 Local government CV              ...

                                                 1OTHER THAN INSURANCE TRUST FUNDS  \
State Year       Format
US    2002-01-01 State government amount                                 713876516
                 Local government amount                                 719788221
AL    2002-01-01 State & local government amount                          14251841
                 State government amount                                   6332560
                 Local government amount                                   7919281
...                                                                            ...
WY    2021-01-01 State & local government amount                          31043052
                 State & local government CV                                  0.45
                 State government amount                                  25724647
                 Local government amount                                   5318405
                 Local government CV                                           2.6

                                                 1OFFSETS TO DEBT 1BOND FUNDS  \
State Year       Format
US    2002-01-01 State government amount                306381934    36106498
                 Local government amount                210752670   122842164
AL    2002-01-01 State & local government amount          4504125     2407604
                 State government amount                  2076774      851807
                 Local government amount                  2427351     1555797
...                                                           ...         ...
WY    2021-01-01 State & local government amount           947713      154361
                 State & local government CV                 0.33        0.22
                 State government amount                   835876      137227
                 Local government amount                   111837       17134
                 Local government CV                         2.81        1.95

                                                     2OTHER  \
State Year       Format
US    2002-01-01 State government amount          371388084
                 Local government amount          386193387
AL    2002-01-01 State & local government amount    7340112
                 State government amount            3403979
                 Local government amount            3936133
...                                                     ...
WY    2021-01-01 State & local government amount        NaN
                 State & local government CV            NaN
                 State government amount                NaN
                 Local government amount                NaN
                 Local government CV                    NaN

                                                 1FROM LOCAL GOVERNMENTS  \
State Year       Format
US    2002-01-01 State government amount                             NaN
                 Local government amount                             NaN
AL    2002-01-01 State & local government amount                     NaN
                 State government amount                             NaN
                 Local government amount                             NaN
...                                                                  ...
WY    2021-01-01 State & local government amount                       0
                 State & local government CV                           0
                 State government amount                           13790
                 Local government amount                               0
                 Local government CV                                   0

                                                 1INSTITUTIONS  OF HIGHER EDUCATION  \
State Year       Format
US    2002-01-01 State government amount                                        NaN
                 Local government amount                                        NaN
AL    2002-01-01 State & local government amount                                NaN
                 State government amount                                        NaN
                 Local government amount                                        NaN
...                                                                             ...
WY    2021-01-01 State & local government amount                             160047
                 State & local government CV                                      0
                 State government amount                                     104484
                 Local government amount                                      55563
                 Local government CV                                              0

                                                 5NAN  \
State Year       Format
US    2002-01-01 State government amount          NaN
                 Local government amount          NaN
AL    2002-01-01 State & local government amount  NaN
                 State government amount          NaN
                 Local government amount          NaN
...                                               ...
WY    2021-01-01 State & local government amount  NaN
                 State & local government CV      NaN
                 State government amount          NaN
                 Local government amount          NaN
                 Local government CV              NaN

                                                 1EMPLOYMENT SECURITY ADMINISTRATION  \
State Year       Format
US    2002-01-01 State government amount                                         NaN
                 Local government amount                                         NaN
AL    2002-01-01 State & local government amount                                 NaN
                 State government amount                                         NaN
                 Local government amount                                         NaN
...                                                                              ...
WY    2021-01-01 State & local government amount                               25051
                 State & local government CV                                       0
                 State government amount                                       25051
                 Local government amount                                           0
                 Local government CV                                               0

                                                 1INSURANCE TRUST REVENUE2  \
State Year       Format
US    2002-01-01 State government amount                               NaN
                 Local government amount                               NaN
AL    2002-01-01 State & local government amount                       NaN
                 State government amount                               NaN
                 Local government amount                               NaN
...                                                                    ...
WY    2021-01-01 State & local government amount                   1651734
                 State & local government CV                             0
                 State government amount                           1651734
                 Local government amount                                 0
                 Local government CV                                     0

                                                 1CHARGES AND MISCELLANEOUS GENERAL REVENUE
State Year       Format
US    2002-01-01 State government amount                                                NaN
                 Local government amount                                                NaN
AL    2002-01-01 State & local government amount                                        NaN
                 State government amount                                                NaN
                 Local government amount                                                NaN
...                                                                                     ...
WY    2021-01-01 State & local government amount                                    3395078
                 State & local government CV                                           0.25
                 State government amount                                            1397427
                 Local government amount                                            1997651
                 Local government CV                                                   0.43

[4660 rows x 154 columns]

In [52]:
panel_dfs_dict = {k:stack_dfs[stack_dfs.index.get_level_values(2)==k].reset_index().set_index(["State","Year"]).sort_index() for k in stack_dfs.index.get_level_values(2).unique()}
panel_dfs_dict['State & local government amount'][["1GENERAL REVENUE","1EXPENDITURE"]]

                 1GENERAL REVENUE 1EXPENDITURE
State Year
AK    2002-01-01          7208865      9397434
      2003-01-01          7208865      9397434
      2004-01-01          7208865      9397434
      2005-01-01          9824780     10026883
      2006-01-01         11023466     10797128
...                           ...          ...
WY    2017-01-01          8728100     10357605
      2018-01-01          8668777     10129438
      2019-01-01          8771293      9986772
      2020-01-01         10018385     10440183
      2021-01-01          9844705     11386915

[1020 rows x 2 columns]

In [53]:
print(list(stack_dfs.keys()))
stack_dfs[["1GENERAL REVENUE","1EXPENDITURE", '1INDIVIDUAL INCOME', '1CORPORATE INCOME']]

['1REVENUE', '1GENERAL REVENUE', '1INTERGOVERNMENTAL REVENUE', '1FROM FEDERAL GOVERNMENT', '1FROM STATE GOVERNMENT', '1FROM LOCAL GOVERNMENT', '1GENERAL REVENUE FROM OWN SOURCES', '1TAXES', '1PROPERTY', '1SALES AND GROSS RECEIPTS', '1GENERAL SALES', '1SELECTIVE SALES', '1MOTOR FUEL', '1ALCOHOLIC BEVERAGE', '1TOBACCO PRODUCTS', '1PUBLIC UTILITIES', '1OTHER SELECTIVE SALES', '1INDIVIDUAL INCOME', '1CORPORATE INCOME', '1LICENSE TAXES', '1MOTOR VEHICLE LICENSE', '1OTHER TAXES', '1CHARGES AND MISCELLANEOUS GENERAL  REVENUE', '1CURRENT CHARGES', '1EDUCATION', '1INSTITUTIONS OF HIGHER EDUCATION', '1SCHOOL LUNCH SALES (GROSS)', '1HOSPITALS', '1HIGHWAYS', '1AIR TRANSPORTATION (AIRPORTS)', '1PARKING FACILITIES', '1SEA AND INLAND PORT FACILITIES', '1NATURAL RESOURCES', '1PARKS AND RECREATION', '1HOUSING AND COMMUNITY DEVELOPMENT', '1SEWERAGE', '1SOLID WASTE MANAGEMENT', '1OTHER CHARGES', '1MISCELLANEOUS GENERAL REVENUE', '1INTEREST EARNINGS', '1SPECIAL ASSESSMENTS', '1SALE OF PROPERTY', '1OTHER GENERAL REVENUE', '1OTHER THAN GENERAL REVENUE', '1UTILITY REVENUE', '1WATER SUPPLY', '1ELECTRIC POWER', '1GAS SUPPLY', '1TRANSIT', '1LIQUOR STORE REVENUE', '1INSURANCE TRUST REVENUE', '1UNEMPLOYMENT COMPENSATION', '1EMPLOYEE RETIREMENT', "1WORKERS' COMPENSATION", '1OTHER INSURANCE TRUST REVENUE', '1EXPENDITURE', '1INTERGOVERNMENTAL EXPENDITURE', '1DIRECT EXPENDITURE', '1CURRENT OPERATIONS', '1CAPITAL OUTLAY', '1CONSTRUCTION', '1OTHER CAPITAL OUTLAY', '1ASSISTANCE AND SUBSIDIES', '1INTEREST ON DEBT', '1INSURANCE BENEFITS AND REPAYMENTS', '1EXHIBIT: SALARIES AND WAGES', '1DIRECT EXPENDITURE BY FUNCTION', '1DIRECT GENERAL EXPENDITURE', '2CAPITAL OUTLAY', '1OTHER DIRECT GENERAL EXPENDITURE', '2EDUCATION', '3CAPITAL OUTLAY', '1HIGHER EDUCATION', '4CAPITAL OUTLAY', '1ELEMENTARY & SECONDARY', '5CAPITAL OUTLAY', '1OTHER EDUCATION', '1LIBRARIES', '1SOCIAL SERVICES AND INCOME MAINTENANCE:', '1PUBLIC WELFARE', '1CASH ASSISTANCE PAYMENTS', '1VENDOR PAYMENTS', '1OTHER PUBLIC WELFARE', '2HOSPITALS', '6CAPITAL OUTLAY', '1HEALTH', '1SOCIAL INSURANCE ADMINISTRATION', "1VETERANS' SERVICES", '2HIGHWAYS', '7CAPITAL OUTLAY', '2AIR TRANSPORTATION (AIRPORTS)', '2PARKING FACILITIES', '2SEA AND INLAND PORT FACILITIES', '1TRANSIT SUBSIDIES', '1POLICE PROTECTION', '1FIRE PROTECTION', '1CORRECTION', '8CAPITAL OUTLAY', '1PROTECTIVE INSPECTION AND REGULATION', '2NATURAL RESOURCES', '9CAPITAL OUTLAY', '2PARKS AND RECREATION', '10CAPITAL OUTLAY', '2HOUSING AND COMMUNITY DEVELOPMENT', '2SEWERAGE', '11CAPITAL OUTLAY', '2SOLID WASTE MANAGEMENT', '12CAPITAL OUTLAY', '1FINANCIAL ADMINISTRATION', '1JUDICIAL AND LEGAL', '1GENERAL PUBLIC BUILDINGS', '1OTHER GOVERNMENTAL ADMINISTRATION', '1INTEREST ON GENERAL DEBT', '1MISCELLANEOUS COMMERCIAL ACTIVITIES', '1OTHER AND UNALLOCABLE', '1UTILITY EXPENDITURE', '13CAPITAL OUTLAY', '2WATER SUPPLY', '2ELECTRIC POWER', '2GAS SUPPLY', '2TRANSIT', '1LIQUOR STORE EXPENDITURE', '1INSURANCE TRUST EXPENDITURE', '2UNEMPLOYMENT COMPENSATION', '2EMPLOYEE RETIREMENT', "2WORKERS' COMPENSATION", '1OTHER INSURANCE TRUST', '1DEBT OUTSTANDING', '1SHORT-TERM', '1LONG-TERM', '1FULL FAITH AND CREDIT', '1NONGUARANTEED', '1PUBLIC DEBT FOR PRIVATE PURPOSES', '3EDUCATION', '1UTILITIES', '1OTHER', '1LONG-TERM DEBT ISSUED', '1LONG-TERM DEBT RETIRED', '1CASH AND SECURITY HOLDINGS', '1INSURANCE TRUST FUNDS', '3UNEMPLOYMENT COMPENSATION', '3EMPLOYEE RETIREMENT', "3WORKERS' COMPENSATION", '1MISCELLANEOUS', '1OTHER THAN INSURANCE TRUST FUNDS', '1OFFSETS TO DEBT', '1BOND FUNDS', '2OTHER', '1FROM LOCAL GOVERNMENTS', '1INSTITUTIONS  OF HIGHER EDUCATION', '5NAN', '1EMPLOYMENT SECURITY ADMINISTRATION', '1INSURANCE TRUST REVENUE2', '1CHARGES AND MISCELLANEOUS GENERAL REVENUE']

                                                 1GENERAL REVENUE  \
State Year       Format
US    2002-01-01 State government amount               1062627836
                 Local government amount                995779419
AL    2002-01-01 State & local government amount         23113713
                 State government amount                 15986065
                 Local government amount                 11858423
...                                                           ...
WY    2021-01-01 State & local government amount          9844705
                 State & local government CV                 0.19
                 State government amount                  6375373
                 Local government amount                  5318614
                 Local government CV                         0.41

                                                 1EXPENDITURE  \
State Year       Format
US    2002-01-01 State government amount           1282852187
                 Local government amount           1140396140
AL    2002-01-01 State & local government amount     28530974
                 State government amount             17996418
                 Local government amount             14642380
...                                                       ...
WY    2021-01-01 State & local government amount     11386915
                 State & local government CV             0.12
                 State government amount              7494943
                 Local government amount              5386454
                 Local government CV                     0.26

                                                 1INDIVIDUAL INCOME  \
State Year       Format
US    2002-01-01 State government amount                  185646573
                 Local government amount                   17185681
AL    2002-01-01 State & local government amount            2126559
                 State government amount                    2030694
                 Local government amount                      95865
...                                                             ...
WY    2021-01-01 State & local government amount                  0
                 State & local government CV                      0
                 State government amount                          0
                 Local government amount                          0
                 Local government CV                              0

                                                 1CORPORATE INCOME
State Year       Format
US    2002-01-01 State government amount                  25123137
                 Local government amount                   3028725
AL    2002-01-01 State & local government amount            322636
                 State government amount                    322636
                 Local government amount                         -
...                                                            ...
WY    2021-01-01 State & local government amount                 0
                 State & local government CV                     0
                 State government amount                         0
                 Local government amount                         0
                 Local government CV                             0

[4660 rows x 4 columns]

In [54]:
before2009 = pd.read_csv("StateGovFinancesTo2008.csv", parse_dates=True)
before2009["Year4"] = pd.to_datetime(before2009["Year4"], format = "%Y")
before2009["State"] = before2009["Name"].str[:2]
before2009 = before2009.set_index(["State","Year4"]).sort_index()
names = ["Population (000)", "Personal Income ($mil)", "Total Revenue", "Total Rev-Own Sources",	
         "Total Taxes", "Property Tax (T01)", "Special Assessments (U01)", "Total IG Revenue", "Total Fed IG Revenue"]
before2009[names]

                  Population (000)  Personal Income ($mil)  Total Revenue  \
State Year4
AK    1957-01-01             231.0                     539          38652
      1958-01-01             224.0                     559          46252
      1959-01-01             224.0                     593          50024
      1960-01-01             229.0                     701          74646
      1961-01-01             238.0                     698          79609
...                            ...                     ...            ...
WY    2004-01-01             503.0                   18239        4609487
      2005-01-01             507.0                   18902        5296649
      2006-01-01             513.0                   22912        5831362
      2007-01-01             523.0                   24457        6091326
      2008-01-01             533.0                   25892        6718235

                  Total Rev-Own Sources  Total Taxes  Property Tax (T01)  \
State Year4
AK    1957-01-01                  27789        20974                   2
      1958-01-01                  31306        23263                   1
      1959-01-01                  31687        24045                  32
      1960-01-01                  41305        27110                 542
      1961-01-01                  48585        31571                 219
...                                 ...          ...                 ...
WY    2004-01-01                3175375      1504777              139809
      2005-01-01                3361770      1739646              180821
      2006-01-01                3822058      2122239              217907
      2007-01-01                4144068      2025090              266498
      2008-01-01                4553583      2404843              278812

                  Special Assessments (U01)  Total IG Revenue  \
State Year4
AK    1957-01-01                          0             10863
      1958-01-01                          0             14946
      1959-01-01                          0             18337
      1960-01-01                          0             33341
      1961-01-01                          0             31024
...                                     ...               ...
WY    2004-01-01                          0           1434112
      2005-01-01                          0           1934879
      2006-01-01                          0           2009304
      2007-01-01                          0           1947258
      2008-01-01                          0           2164652

                  Total Fed IG Revenue
State Year4
AK    1957-01-01                 10713
      1958-01-01                 14786
      1959-01-01                 18191
      1960-01-01                 33081
      1961-01-01                 30974
...                                ...
WY    2004-01-01               1369382
      2005-01-01               1824032
      2006-01-01               1957575
      2007-01-01               1776003
      2008-01-01               1997454

[3259 rows x 9 columns]

In [55]:
before2009["Special Assessments (U01)"]

State  Year4
AK     1957-01-01    0
       1958-01-01    0
       1959-01-01    0
       1960-01-01    0
       1961-01-01    0
                    ..
WY     2004-01-01    0
       2005-01-01    0
       2006-01-01    0
       2007-01-01    0
       2008-01-01    0
Name: Special Assessments (U01), Length: 3259, dtype: int64

In [56]:
stack_dfs.to_csv(f"StateGovFinances{start_year}to2021.csv")

In [57]:
stack_dfs.index.get_level_values("Format").unique()

Index(['State government amount', 'Local government amount',
       'State & local government amount', 'State & local government CV',
       'Local government CV'],
      dtype='object', name='Format')

In [58]:
stack_dfs[stack_dfs.index.get_level_values("Format") == "State & local government amount"]

,,,1REVENUE,1GENERAL REVENUE,1INTERGOVERNMENTAL REVENUE,1FROM FEDERAL GOVERNMENT,1FROM STATE GOVERNMENT,1FROM LOCAL GOVERNMENT,1GENERAL REVENUE FROM OWN SOURCES,1TAXES,1PROPERTY,1SALES AND GROSS RECEIPTS,...,1OTHER THAN INSURANCE TRUST FUNDS,1OFFSETS TO DEBT,1BOND FUNDS,2OTHER,1FROM LOCAL GOVERNMENTS,1INSTITUTIONS OF HIGHER EDUCATION,5NAN,1EMPLOYMENT SECURITY ADMINISTRATION,1INSURANCE TRUST REVENUE2,1CHARGES AND MISCELLANEOUS GENERAL REVENUE
State,Year,Format,,,,,,,,,,,,,,,,,,,,,
AL,2002-01-01,State & local government amount,24112550,23113713,6263380,6263380,X,X,16850333,9718827,1473554,4799669,...,14251841,4504125,2407604,7340112,NaN,NaN,NaN,NaN,NaN,NaN
AK,2002-01-01,State & local government amount,6992884,7208865,1789266,1789266,X,X,5419599,2069908,830011,310584,...,33763153,4378347,319717,29065089,NaN,NaN,NaN,NaN,NaN,NaN
AZ,2002-01-01,State & local government amount,30083389,25523515,5718580,5718580,X,X,19804935,14420322,4254395,7081004,...,20774658,7205080,2340603,11228975,NaN,NaN,NaN,NaN,NaN,NaN
AR,2002-01-01,State & local government amount,13566364,13209552,3645274,3645274,X,X,9564278,6410855,1003909,3340217,...,9230249,4149973,649813,4430463,NaN,NaN,NaN,NaN,NaN,NaN
CA,2002-01-01,State & local government amount,250724771,226644021,48249715,48249715,X,X,178394306,120424066,30242523,41559857,...,186771731,50640495,23780430,112350806,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VA,2021-01-01,State & local government amount,135480993,100596796,24701904,24701904,0,NaN,75894892,53564770,16566844,14784519,...,86508254,19243856,6398347,NaN,0,4396545,NaN,147576,31769162,22330122
WA,2021-01-01,State & local government amount,148243176,100010400,24457914,24457914,0,NaN,75552486,51574328,14711643,31163082,...,60840503,10596552,6653871,NaN,0,2949797,NaN,294913,40266301,23978157
WV,2021-01-01,State & local government amount,26944612,20271833,7283083,7283083,0,NaN,12988750,8386049,1921893,3125864,...,11135320,1130623,609589,NaN,0,794786,NaN,32021,6226908,4602700
WI,2021-01-01,State & local government amount,85839258,62439805,14981194,14981194,0,NaN,47458611,33548631,10485666,9748094,...,42105913,15172248,2945362,NaN,0,2319642,NaN,170020,21243073,13909980
WY,2021-01-01,State & local government amount,11886452,9844705,3433945,3433945,0,NaN,6410760,3015682,1251792,1049028,...,31043052,947713,154361,NaN,0,160047,NaN,25051,1651734,3395078