In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
from plotly.subplots import make_subplots
import copy as copy
from homebrewedFunctions.functions import *

In [2]:


data_cats = ["NoTaxRatios","WithTaxRatios"]
dfs_dct = {}
for data_cat in data_cats:
    filename = f"panelData{data_cat}.xlsx"
    dfs_dct[data_cat] = pd.read_excel(filename,sheet_name=None)
    for key, df in dfs_dct[data_cat].items():
        dfs_dct[data_cat][key].set_index(["State","DATE"], inplace = True)
        del dfs_dct[data_cat][key]["Unnamed: 0"]
dfs_dct

{'NoTaxRatios': {'Levels':                   Population  Home Price Index  EFNA  Overall-scores(allgovs)  \
  State DATE
  AL    1900-01-01     1830.00               NaN   NaN                      NaN
        1901-01-01     1907.00               NaN   NaN                      NaN
        1902-01-01     1935.00               NaN   NaN                      NaN
        1903-01-01     1957.00               NaN   NaN                      NaN
        1904-01-01     1978.00               NaN   NaN                      NaN
  ...                      ...               ...   ...                      ...
  WY    2019-01-01      580.12            324.49  8.16                 8.156352
        2020-01-01      577.66            340.92  8.01                 8.009364
        2021-01-01      579.55            380.47  7.99                 7.988226
        2022-01-01      581.63            438.83   NaN                      NaN
        2023-01-01      584.06            459.80   NaN                      NaN

                     3A-allg   3B-allg   3C-allg    4-allg    5-allg    6-allg  \
  State DATE
  AL    1900-01-01       NaN       NaN       NaN       NaN       NaN       NaN
        1901-01-01       NaN       NaN       NaN       NaN       NaN       NaN
        1902-01-01       NaN       NaN       NaN       NaN       NaN       NaN
        1903-01-01       NaN       NaN       NaN       NaN       NaN       NaN
        1904-01-01       NaN       NaN       NaN       NaN       NaN       NaN
  ...                    ...       ...       ...       ...       ...       ...
  WY    2019-01-01  8.658398  8.987214  8.084057  7.644438  9.748029  7.830032
        2020-01-01  8.668255  7.312681  8.039567  7.555009  9.626843  7.765508
        2021-01-01  8.811210  7.410669  6.756226  7.859447  9.379773  8.067876
        2022-01-01       NaN       NaN       NaN       NaN       NaN       NaN
        2023-01-01       NaN       NaN       NaN       NaN       NaN       NaN

                    ...  Other License Taxes (T29)  Total Income Taxes  \
  State DATE        ...
  AL    1900-01-01  ...                        NaN                 NaN
        1901-01-01  ...                        NaN                 NaN
        1902-01-01  ...                        NaN                 NaN
        1903-01-01  ...                        NaN                 NaN
        1904-01-01  ...                        NaN                 NaN
  ...               ...                        ...                 ...
  WY    2019-01-01  ...                        0.0                 0.0
        2020-01-01  ...                        0.0                 0.0
        2021-01-01  ...                        0.0                 0.0
        2022-01-01  ...                        0.0                 0.0
        2023-01-01  ...                        0.0                 0.0

                    Individual Income Tax (T40)  Corp Net Income Tax (T41)  \
  State DATE
  AL    1900-01-01                          NaN                        NaN
        1901-01-01                          NaN                        NaN
        1902-01-01                          NaN                        NaN
        1903-01-01                          NaN                        NaN
        1904-01-01                          NaN                        NaN
  ...                                       ...                        ...
  WY    2019-01-01                          0.0                        0.0
        2020-01-01                          0.0                        0.0
        2021-01-01                          0.0                        0.0
        2022-01-01                          0.0                        0.0
        2023-01-01                          0.0                        0.0

                    Total Other Taxes  Death and Gift Tax (T50)  \
  State DATE
  AL    1900-01-01                NaN                       NaN
        1901-01-01                NaN                       NaN
        1902-01-01                NaN                       NaN
        1903-01-01                NaN                       NaN
        1904-01-01                NaN                       NaN
  ...                             ...                       ...
  WY    2019-01-01           674540.0                       0.0
        2020-01-01           511347.0                       0.0
        2021-01-01           439365.0                       0.0
        2022-01-01           778220.0                       0.0
        2023-01-01          1155472.0                       0.0

                    Docum and Stock Tr Tax (T51)  Severance Tax (T53)  \
  State DATE
  AL    1900-01-01                           NaN                  NaN
        1901-01-01                           NaN                  NaN
        1902-01-01                           NaN                  NaN
        1903-01-01                           NaN                  NaN
        1904-01-01                           NaN                  NaN
  ...                                        ...                  ...
  WY    2019-01-01                           0.0             668178.0
        2020-01-01                           0.0             505573.0
        2021-01-01                           0.0             435314.0
        2022-01-01                           0.0             770487.0
        2023-01-01                           0.0            1145516.0

                    Taxes NEC (T99)  GDP Per Capita
  State DATE
  AL    1900-01-01              NaN             NaN
        1901-01-01              NaN             NaN
        1902-01-01              NaN             NaN
        1903-01-01              NaN             NaN
        1904-01-01              NaN             NaN
  ...                           ...             ...
  WY    2019-01-01           6362.0       69.675412
        2020-01-01           5774.0       62.738462
        2021-01-01           4051.0             NaN
        2022-01-01           7733.0             NaN
        2023-01-01           9956.0             NaN

  [6200 rows x 53 columns],
  'Log':                         GDP  Population  GDP Per Capita  Home Price Index  \
  State DATE
  AL    1900-01-01        NaN    7.512071             NaN               NaN
        1901-01-01        NaN    7.553287             NaN               NaN
        1902-01-01        NaN    7.567863             NaN               NaN
        1903-01-01        NaN    7.579168             NaN               NaN
        1904-01-01        NaN    7.589842             NaN               NaN
  ...                     ...         ...             ...               ...
  WY    2019-01-01  10.607082    6.363235        4.243847          5.782255
        2020-01-01  10.497960    6.358985        4.138975          5.831648
        2021-01-01        NaN    6.362252             NaN          5.941407
        2022-01-01        NaN    6.365835             NaN          6.084112
        2023-01-01        NaN    6.370004             NaN          6.130792

                    Private Industries  Government  Federal Civilian  Military  \
  State DATE
  AL    1900-01-01                 NaN         NaN               NaN       NaN
        1901-01-01                 NaN         NaN               NaN       NaN
        1902-01-01                 NaN         NaN               NaN       NaN
        1903-01-01                 NaN         NaN               NaN       NaN
        1904-01-01                 NaN         NaN               NaN       NaN
  ...                              ...         ...               ...       ...
  WY    2019-01-01           10.429100    8.793339          6.859405  6.097625
        2020-01-01           10.296789    8.795461          6.910352  6.155070
        2021-01-01                 NaN         NaN               NaN       NaN
        2022-01-01                 NaN         NaN               NaN       NaN
        2023-01-01                 NaN         NaN               NaN       NaN

                    State and Local Spending  Total Income Taxes  Total Taxes  \
  State DATE
  AL    1900-01-01                       NaN                 NaN          NaN
        1901-01-01                       NaN                 NaN          NaN
        1902-01-01                       NaN                 NaN          NaN
        1903-01-01                       NaN                 NaN          NaN
        1904-01-01                       NaN                 NaN          NaN
  ...                                    ...                 ...          ...
  WY    2019-01-01                  8.555009                 NaN    14.562532
        2020-01-01                  8.542939                 NaN    14.490441
        2021-01-01                       NaN                 NaN    14.444053
        2022-01-01                       NaN                 NaN    14.707921
        2023-01-01                       NaN                 NaN    15.023541

                    Property Tax (T01)  EFNA  Average 3-6
  State DATE
  AL    1900-01-01                 NaN   NaN          NaN
        1901-01-01                 NaN   NaN          NaN
        1902-01-01                 NaN   NaN          NaN
        1903-01-01                 NaN   NaN          NaN
        1904-01-01                 NaN   NaN          NaN
  ...                              ...   ...          ...
  WY    2019-01-01           12.519123  8.16     8.449764
        2020-01-01           12.598057  8.01     8.238549
        2021-01-01           12.597861  7.99     8.241616
        2022-01-01           12.499831   NaN          NaN
        2023-01-01           13.075171   NaN          NaN

  [6200 rows x 14 columns],
  'Rates':                   Population  Home Price Index  EFNA  Overall-scores(allgovs)  \
  State DATE
  AL    1900-01-01         NaN               NaN   NaN                      NaN
        1901-01-01    0.041215               NaN   NaN                      NaN
        1902-01-01    0.014576               NaN   NaN                      NaN
        1903-01-01    0.011305               NaN   NaN                      NaN
        1904-01-01    0.010674               NaN   NaN                      NaN
  ...                      ...               ...   ...                      ...
  WY    2019-01-01    0.001846          0.041176  8.16                 8.156352
        2020-01-01   -0.004250          0.049393  8.01                 8.009364
        2021-01-01    0.003266          0.109759  7.99                 7.988226
        2022-01-01    0.003583          0.142705   NaN                      NaN
        2023-01-01    0.004169          0.046680   NaN                      NaN

                     3A-allg   3B-allg   3C-allg    4-allg    5-allg    6-allg  \
  State DATE
  AL    1900-01-01       NaN       NaN       NaN       NaN       NaN       NaN
        1901-01-01       NaN       NaN       NaN       NaN       NaN       NaN
        1902-01-01       NaN       NaN       NaN       NaN       NaN       NaN
        1903-01-01       NaN       NaN       NaN       NaN       NaN       NaN
        1904-01-01       NaN       NaN       NaN       NaN       NaN       NaN
  ...                    ...       ...       ...       ...       ...       ...
  WY    2019-01-01  8.658398  8.987214  8.084057  7.644438  9.748029  7.830032
        2020-01-01  8.668255  7.312681  8.039567  7.555009  9.626843  7.765508
        2021-01-01  8.811210  7.410669  6.756226  7.859447  9.379773  8.067876
        2022-01-01       NaN       NaN       NaN       NaN       NaN       NaN
        2023-01-01       NaN       NaN       NaN       NaN       NaN       NaN

                    ...  Other License Taxes (T29)  Total Income Taxes  \
  State DATE        ...
  AL    1900-01-01  ...                        NaN                 NaN
        1901-01-01  ...                        NaN                 NaN
        1902-01-01  ...                        NaN                 NaN
        1903-01-01  ...                        NaN                 NaN
        1904-01-01  ...                        NaN                 NaN
  ...               ...                        ...                 ...
  WY    2019-01-01  ...                        0.0                 NaN
        2020-01-01  ...                        0.0                 NaN
        2021-01-01  ...                        0.0                 NaN
        2022-01-01  ...                        0.0                 NaN
        2023-01-01  ...                        0.0                 NaN

                    Individual Income Tax (T40)  Corp Net Income Tax (T41)  \
  State DATE
  AL    1900-01-01                          NaN                        NaN
        1901-01-01                          NaN                        NaN
        1902-01-01                          NaN                        NaN
        1903-01-01                          NaN                        NaN
        1904-01-01                          NaN                        NaN
  ...                                       ...                        ...
  WY    2019-01-01                          0.0                        0.0
        2020-01-01                          0.0                        0.0
        2021-01-01                          0.0                        0.0
        2022-01-01                          0.0                        0.0
        2023-01-01                          0.0                        0.0

                    Total Other Taxes  Death and Gift Tax (T50)  \
  State DATE
  AL    1900-01-01                NaN                       NaN
        1901-01-01                NaN                       NaN
        1902-01-01                NaN                       NaN
        1903-01-01                NaN                       NaN
        1904-01-01                NaN                       NaN
  ...                             ...                       ...
  WY    2019-01-01           0.319581                       0.0
        2020-01-01           0.260374                       0.0
        2021-01-01           0.234343                       0.0
        2022-01-01           0.318811                       0.0
        2023-01-01           0.345238                       0.0

                    Docum and Stock Tr Tax (T51)  Severance Tax (T53)  \
  State DATE
  AL    1900-01-01                           NaN                  NaN
        1901-01-01                           NaN                  NaN
        1902-01-01                           NaN                  NaN
        1903-01-01                           NaN                  NaN
        1904-01-01                           NaN                  NaN
  ...                                        ...                  ...
  WY    2019-01-01                           0.0             0.316566
        2020-01-01                           0.0             0.257434
        2021-01-01                           0.0             0.232183
        2022-01-01                           0.0             0.315643
        2023-01-01                           0.0             0.342263

                    Taxes NEC (T99)  GDP Per Capita
  State DATE
  AL    1900-01-01              NaN             NaN
        1901-01-01              NaN             NaN
        1902-01-01              NaN             NaN
        1903-01-01              NaN             NaN
        1904-01-01              NaN             NaN
  ...                           ...             ...
  WY    2019-01-01         0.003014        0.016049
        2020-01-01         0.002940       -0.104873
        2021-01-01         0.002161             NaN
        2022-01-01         0.003168             NaN
        2023-01-01         0.002975             NaN

  [6200 rows x 53 columns],
  '5YearRates':                   Population  Home Price Index  EFNA  Overall-scores(allgovs)  \
  State DATE
  AL    1900-01-01         NaN               NaN   NaN                      NaN
        1901-01-01         NaN               NaN   NaN                      NaN
        1902-01-01         NaN               NaN   NaN                      NaN
        1903-01-01         NaN               NaN   NaN                      NaN
        1904-01-01         NaN               NaN   NaN                      NaN
  ...                      ...               ...   ...                      ...
  WY    2019-01-01   -0.005227          0.144612  8.16                 8.156352
        2020-01-01   -0.015000          0.159081  8.01                 8.009364
        2021-01-01   -0.009770          0.248753  7.99                 7.988226
        2022-01-01    0.002824          0.377633   NaN                      NaN
        2023-01-01    0.008615          0.389713   NaN                      NaN

                     3A-allg   3B-allg   3C-allg    4-allg    5-allg    6-allg  \
  State DATE
  AL    1900-01-01       NaN       NaN       NaN       NaN       NaN       NaN
        1901-01-01       NaN       NaN       NaN       NaN       NaN       NaN
        1902-01-01       NaN       NaN       NaN       NaN       NaN       NaN
        1903-01-01       NaN       NaN       NaN       NaN       NaN       NaN
        1904-01-01       NaN       NaN       NaN       NaN       NaN       NaN
  ...                    ...       ...       ...       ...       ...       ...
  WY    2019-01-01  8.658398  8.987214  8.084057  7.644438  9.748029  7.830032
        2020-01-01  8.668255  7.312681  8.039567  7.555009  9.626843  7.765508
        2021-01-01  8.811210  7.410669  6.756226  7.859447  9.379773  8.067876
        2022-01-01       NaN       NaN       NaN       NaN       NaN       NaN
        2023-01-01       NaN       NaN       NaN       NaN       NaN       NaN

                    ...  Other License Taxes (T29)  Total Income Taxes  \
  State DATE        ...
  AL    1900-01-01  ...                        NaN                 NaN
        1901-01-01  ...                        NaN                 NaN
        1902-01-01  ...                        NaN                 NaN
        1903-01-01  ...                        NaN                 NaN
        1904-01-01  ...                        NaN                 NaN
  ...               ...                        ...                 ...
  WY    2019-01-01  ...                        0.0                 NaN
        2020-01-01  ...                        0.0                 NaN
        2021-01-01  ...                        0.0                 NaN
        2022-01-01  ...                        0.0                 NaN
        2023-01-01  ...                        0.0                 NaN

                    Individual Income Tax (T40)  Corp Net Income Tax (T41)  \
  State DATE
  AL    1900-01-01                          NaN                        NaN
        1901-01-01                          NaN                        NaN
        1902-01-01                          NaN                        NaN
        1903-01-01                          NaN                        NaN
        1904-01-01                          NaN                        NaN
  ...                                       ...                        ...
  WY    2019-01-01                          0.0                        0.0
        2020-01-01                          0.0                        0.0
        2021-01-01                          0.0                        0.0
        2022-01-01                          0.0                        0.0
        2023-01-01                          0.0                        0.0

                    Total Other Taxes  Death and Gift Tax (T50)  \
  State DATE
  AL    1900-01-01                NaN                       NaN
        1901-01-01                NaN                       NaN
        1902-01-01                NaN                       NaN
        1903-01-01                NaN                       NaN
        1904-01-01                NaN                       NaN
  ...                             ...                       ...

In [3]:
plot_dfs = {"Level":dfs_dct["NoTaxRatios"]["Levels"].copy(),
           "Percent Total":dfs_dct["NoTaxRatios"]["Levels"].copy()}
keys = list(plot_dfs["Level"].keys())
GDP_components = keys[13:18]
tax_components = keys[20:-1]
ind_tax_components = [t for t in tax_components if "(" in t]
prime_GDP_components = copy.copy(GDP_components)
prime_GDP_components.pop(1)
states = plot_dfs["Level"].index.get_level_values("State").unique()
years = plot_dfs["Level"].loc["AL"].index.unique()
for lr in ["Level", "Percent Total"]:
    plot_dfs[lr][tax_components + ["Total Taxes"]]= plot_dfs[lr][tax_components + ["Total Taxes"]].mul(10**3)
    plot_dfs[lr][["GDP"] + GDP_components] = plot_dfs[lr][["GDP"] + GDP_components].mul(10**6)
plot_dfs["Percent Total"][tax_components] = plot_dfs["Level"][tax_components].apply(lambda x: x.div(plot_dfs["Level"]["Total Taxes"])).mul(100)
plot_dfs["Percent Total"][GDP_components] = plot_dfs["Level"][GDP_components].apply(lambda x: x.div(plot_dfs["Level"]["GDP"])).mul(100)
plot_dfs["Percent GDP"] = plot_dfs["Level"].copy()
plot_dfs["Percent GDP"][tax_components + ["Total Taxes"] + GDP_components] = plot_dfs["Level"][
    tax_components + ["Total Taxes"] + GDP_components].apply(lambda x: x.div(plot_dfs["Level"]["GDP"])).mul(100)
panel_dfs = {}
for key, df in plot_dfs.items():
    panel = df.reset_index().melt(id_vars=["State","DATE"], 
        var_name="Name", 
        value_name="Value")
    panel = panel.set_index(["State", "DATE"]).round(2)
    panel_dfs[key] = panel.copy()
panel_dfs

{'Level':                             Name    Value
 State DATE
 AL    1900-01-01      Population  1830.00
       1901-01-01      Population  1907.00
       1902-01-01      Population  1935.00
       1903-01-01      Population  1957.00
       1904-01-01      Population  1978.00
 ...                          ...      ...
 WY    2019-01-01  GDP Per Capita    69.68
       2020-01-01  GDP Per Capita    62.74
       2021-01-01  GDP Per Capita      NaN
       2022-01-01  GDP Per Capita      NaN
       2023-01-01  GDP Per Capita      NaN

 [328600 rows x 2 columns],
 'Percent Total':                             Name    Value
 State DATE
 AL    1900-01-01      Population  1830.00
       1901-01-01      Population  1907.00
       1902-01-01      Population  1935.00
       1903-01-01      Population  1957.00
       1904-01-01      Population  1978.00
 ...                          ...      ...
 WY    2019-01-01  GDP Per Capita    69.68
       2020-01-01  GDP Per Capita    62.74
       2021-01-01  GDP Per Capita      NaN
       2022-01-01  GDP Per Capita      NaN
       2023-01-01  GDP Per Capita      NaN

 [328600 rows x 2 columns],
 'Percent GDP':                             Name    Value
 State DATE
 AL    1900-01-01      Population  1830.00
       1901-01-01      Population  1907.00
       1902-01-01      Population  1935.00
       1903-01-01      Population  1957.00
       1904-01-01      Population  1978.00
 ...                          ...      ...
 WY    2019-01-01  GDP Per Capita    69.68
       2020-01-01  GDP Per Capita    62.74
       2021-01-01  GDP Per Capita      NaN
       2022-01-01  GDP Per Capita      NaN
       2023-01-01  GDP Per Capita      NaN

 [328600 rows x 2 columns]}

In [4]:
df = panel_dfs["Level"]
df["HoverText"] = df["Name"] + ":<br>" + df["Value"].astype(str)
# df = df[df.index.get_level_values("DATE") == "2020"]
names = df["Name"].unique()
df_pivot = df.reset_index().pivot(index=['State', 'DATE', "HoverText"], columns='Name', values='Value').reset_index()
df_pivot

Name,State,DATE,HoverText,3-allg,3A-allg,3B-allg,3C-allg,4-allg,5-allg,6-allg,...,State and Local Spending,Taxes NEC (T99),Tobacco Tax (T16),Tot Sales & Gr Rec Tax,Total Gen Sales Tax (T09),Total Income Taxes,Total License Taxes,Total Other Taxes,Total Select Sales Tax,Total Taxes
0,AK,1900-01-01,3-allg:<br>nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AK,1900-01-01,3A-allg:<br>nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AK,1900-01-01,3B-allg:<br>nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AK,1900-01-01,3C-allg:<br>nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AK,1900-01-01,4-allg:<br>nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328595,WY,2023-01-01,Total Income Taxes:<br>0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
328596,WY,2023-01-01,Total License Taxes:<br>219407000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,219407000.0,NaN,NaN,NaN
328597,WY,2023-01-01,Total Other Taxes:<br>1155472000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.155472e+09,NaN,NaN
328598,WY,2023-01-01,Total Select Sales Tax:<br>198569000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198569000.0,NaN
328599,WY,2023-01-01,Total Taxes:<br>3346887000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.346887e+09

In [80]:
import plotly.express as px
import pandas as pd

def create_map(df, name):
    plot_df = df[['State', 'DATE', name]].dropna()
    dates = sorted([str(d)[:4] for d in plot_df["DATE"].unique()])
    dates_dict[name] = dates
    plot_df["DATE"] = plot_df["DATE"].astype(str).str[:4]
    plot_df = plot_df.reset_index().pivot(index=['State'], columns='DATE', values=name).reset_index()

    init_var = dates[-1]

    # Calculate the overall min and max values across all years
    min_val = plot_df.drop(columns='State').min().min()
    max_val = plot_df.drop(columns='State').max().max()

    # Create the initial plot
    fig = px.choropleth(plot_df,
                        locations='State',
                        color=init_var,  # Initial variable
                        color_continuous_scale='spectral_r',
                        locationmode='USA-states',
                        scope='usa')
    # Update the coloraxis to match the overall min and max
    fig.update_traces(hovertemplate="%{location}: %{z}<extra></extra>", 
                    selector=dict(type='choropleth'))
    fig.update_layout(
        coloraxis_colorbar=dict(title=''),
        coloraxis=dict(cmin=min_val, cmax=max_val, colorscale='spectral_r')
        )
    # Update layout with slider
    sliders = [dict(
        active=len(dates)-1,
        currentvalue={"prefix": "Year: "},
        pad={"t": 50},
        steps=[
            dict(
                label=date,
                method="update",
                args=[
                    {"z": [plot_df[date]]},
                    {"hovertemplate": "%{location}: " + plot_df[date].astype(str) + "<extra></extra>"},
                    {"title": f"{name}: {date}"}
                ]
            ) for date in dates
        ]
    )]
    fig.update_layout(
        sliders=sliders,
        title_text=name, title_x=0.5,
        coloraxis_colorbar=dict(title=''),
        coloraxis=dict(cmin=min_val, cmax=max_val, colorscale='spectral_r')
        )

    return fig

def combine_map_figs(figs):
    # Combine all figures into one figure with a menu to select between them
    combined_fig = make_subplots(rows=1, cols=1)
    names = list(figs.keys())
    for name, fig in figs.items():
        for trace in fig.data:
            combined_fig.add_trace(trace)
    # Create dropdown menu to switch between figures
    dropdown_buttons = [
        dict(
            label=name,
            method="update",
            args=[{"visible": [True if name == selected_name else False for selected_name in names]},
                {**figs[name].layout.to_plotly_json()},
                {"title": name}]
        ) for name in names
    ]
    combined_fig.layout = {**figs[list(figs.keys())[0]].layout.to_plotly_json()}
    combined_fig.update_layout(
        updatemenus=[dict(buttons=dropdown_buttons, direction="down", showactive=True)],
        title_text=names[0], title_x=0.5
    )

    # Set visibility for initial state
    combined_fig.for_each_trace(lambda trace: trace.update(visible=False))
    combined_fig.data[0].update(visible=True)
    return combined_fig

In [81]:
figs = {}
dates_dict = {}

for name in names:
    fig = create_map(df_pivot, name)
    figs[name] = fig
combined_fig = combine_map_figs(figs)
# combined_fig.show()
combined_fig.write_html("outputs/AllMapsByVariableAndYear.html")

## alternate: present all variables within a given year.

In [6]:
# import pandas as pd
# import plotly.express as px
# import plotly.graph_objects as go
# plot_df = df_pivot[df_pivot["DATE"] == "2020"]


# # Pivot the dataframe
# init_var = "Population"

# # Create the initial plot
# fig = px.choropleth(plot_df,
#                     locations='State',
#                     color=init_var,  # Initial variable
#                     color_continuous_scale='spectral_r',
#                     hover_name="HoverText",
#                     locationmode='USA-states',
#                     scope='usa')
# fig.update_traces(hovertemplate="%{hovertext}<extra></extra>")

# # Update layout for dropdown
# fig.update_layout(
#     updatemenus=[
#         dict(
#             buttons=list([
#                 dict(label=name,
#                      method="update",
#                      args=[{"z": [plot_df[name]]},
#                            {"title":name},
                           
#                         #    {"hovertemplate": '<b>%{name}:</b><br>% {z}<extra></extra>'}
#                            ]) for name in names
#                 # Add more variables here if needed
#             ]),
#             direction="down",
#             pad={"r": 10, "t": 10},
#             showactive=True,
#             x=0.1,
#             xanchor="left",
#             y=1.3,
#             yanchor="top"
#         ),
#     ],
#     title_text=init_var, title_x=0.5,
#                   coloraxis_colorbar=dict(title=''))

# fig.update_layout()

# fig.show()